.idea
*.pyc
*.db
#deploy_config.py
*.class

*.jar
*.projet
*.classpath
*.settings
*.log
#settings.py
#rq_settings.py
#config.py
#settings.json
*.pydevproject

# robot framework output files
#log.html
output.xml
report.html
.cache/*
deploy.sh.bak
deploy_new.sh
tags
.DS_Store
bower_components/
node_modules/
ext_libs/
test_data
tokentest*.py
*.data
.env
env.sh
